body {
  background-color: #f0f0f0;
}

.row.justify-content-center.my-5 {
  margin-top: 50px;
}

.col-md-5 {
  margin: auto;
  width: 50%;
}

.mt-4.p-5.bg-success.text-white.rounded.mb-3 {
  padding: 20px;
  background-color: #0ab2cf;
  color: white;
  border-radius: 5px;
  margin-bottom: 15px;
  justify-content: center;
  display: flex;
}

.input-group {
  margin-bottom: 20px;
}

.card {
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.card-body {
  padding: 10px;
}

.card-text {
  margin-bottom: 5px;
  font-size: 24px;
}
.btn.search-btn {
  background-color: #b5c200;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn.search-btn:hover {
  background-color: white;
  color: black;
}
